
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body {
  font-family: "Cormorant Garamond", serif;
  min-height: 300vh; 
  scrollbar-width: none;
}

.spacer {
height: 400vh;
}

.title {
  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 220px;
  letter-spacing: 0.05em;
  font-weight: 400;

  color: black;

  text-align: center;
  white-space: nowrap;

  opacity: 0;
  transition: opacity 0.8s ease,
              top 1.2s ease,
              transform 1.2s ease;
}

.scrollPrompt {
  position: fixed;

  top: 66%;
  left: 50%;
  transform: translateX(-50%);
  
  width: 200px;
  height: auto;

  font-size: 25px;
  text-align: center;
  white-space: nowrap;

  color:rgb(0, 0, 0);

  opacity: 0;
  transition: opacity 0.8s ease;
  z-index: 1;
}

.arrow {
  position: fixed;

  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  
  width: 200px;
  height: auto;

  text-align: center;
  white-space: nowrap;

  opacity: 1;
  transition: opacity 0.8s ease;
}

/* 
::-webkit-scrollbar {
  display: none;
}
*/


.options {
  position: fixed;

  top: 80%;
  left: 25%;
  transform: translate(-50%, -50%);

  font-size: 30px;
  letter-spacing: 0.05em;
  font-weight: 400;

  color: black;

  text-align: center;
  white-space: nowrap;

  opacity: 1;
  transition: opacity 0.8s ease;
}