
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cormorant Garamond", serif;
  min-height: 300vh; 
  scrollbar-width: none;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #ffffff 40%,
    #ffffff 100%
  );

  z-index: -1;
}

.spacer {
  height: 150vh;
}

.title {
  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 400px;
  letter-spacing: 0.05em;
  font-weight: 400;

  color: black;

  text-align: center;
  white-space: nowrap;

  opacity: 0;
  transition: opacity 0.8s ease;
}

.arrow {
  position: fixed;

  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  
  width: 200px;
  height: auto;

  text-align: center;
  white-space: nowrap;

  opacity: 0;
  transition: opacity 0.8s ease;
}

::-webkit-scrollbar {
  display: none;
}