
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cormorant Garamond", serif;
  min-height: 300vh; 
  scrollbar-width: none;
}

.hero {

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.spacer {
  height: 150vh;
}

.title {
  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 220px;
  letter-spacing: 0.05em;
  font-weight: 400;

  color: black;

  text-align: center;
  white-space: nowrap;

  opacity: 0;
  transition: opacity 0.8s ease;
}

.scrollPrompt {
  position: fixed;

  top: 66%;
  left: 50%;
  transform: translateX(-50%);
  
  width: 200px;
  height: auto;

  font-size: 25px;
  text-align: center;
  white-space: nowrap;

  color:white;

  opacity: 0.6;
  transition: opacity 0.8s ease;
  z-index: 1;
}

.arrow {
  position: fixed;

  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  
  width: 200px;
  height: auto;

  text-align: center;
  white-space: nowrap;

  opacity: 1;
  transition: opacity 0.8s ease;
}

::-webkit-scrollbar {
  display: none;
}
